*{
    margin: 0;
    vertical-align: top;
}
body{
    background-color: burlywood;
    margin-top: 2vw;
}
#body2{
    background-color: aquamarine;
}
#volver-atrás{
    position: fixed;
    top: 0;
    left: 0;
    font-weight: bold;
    background-color: rgb(55, 34, 70);
    color: white;
    height: 2vw;
}
img{
    width: 100%;
    height: 100%;
}

.caja-azul{
    display: inline-flex;
    border: 1px solid blue;
    width: 45%;
    height: 350px;
    margin: 1vw;
}
.caja-img{
    border: 1px solid black;
    width: 18%;
    height: 90px;
}
#zonaA{
    justify-content: space-evenly;
    .caja-img{
        margin-top: 2vw;
    }
}
#zonaB{
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    align-content: flex-start; /* ayuda a que las columnas esten juntas */
    .caja-img{
        margin: 1vh;
    }
    
}
#zonaC{
    flex-direction: column-reverse;
    .caja-img{
        height: 50px; /* tuve que hacer mas pequeñas las imagenes para despues aplicar flex-grow (y ocupen la caja padre) */
        flex-grow: 1;
    }
}
#zonaD{
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: flex-start; /* ayuda a que las filas esten juntas */
    .caja-img{
        margin: 2vh;
    }
}


/* ---------------------------------------------- */



.caja-img1{
    border: 1px solid black;
    width: 18%;
    height: 90px;
    background-image: url("/practico9/imagenes/gijon.jpg");
    background-size: cover;
}
.caja-img2{
    border: 1px solid black;
    width: 18%;
    height: 90px;
    background-image: url("/practico9/imagenes/leon.jpg");
    background-size: cover;
}
.caja-img3{
    border: 1px solid black;
    width: 18%;
    height: 90px;
    background-image: url("/practico9/imagenes/logrono.jpg");
    background-size: cover;
}
.caja-img4{
    border: 1px solid black;
    width: 18%;
    height: 90px;
    background-image: url("/practico9/imagenes/merida.jpg");
    background-size: cover;
}

#zonaE{
    flex-direction: column;
    flex-grow: 1;
    .caja-img1{
        order: 2;
    }
    .caja-img2{
        order: 1;
    }
    .caja-img3{
        order: 4;
    }
    .caja-img4{
        order: 3;
    }
    
}
#zonaF{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .caja-img3{
        flex-grow: 2;
    }
}
#zonaG{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
}
#zonaH{
    align-items: flex-end;
    justify-content: space-around;
    display: inline-flex;
    .caja-img1, .caja-img3{
        margin-bottom: 2vh;
        flex-shrink: 1;  /* como se utiliza el flex - shrink???????????????????????????????? */
    }
    .caja-img2, .caja-img4{
        margin-bottom: 2vh;
        flex-shrink: 4;  /* como se utiliza el flex - shrink???????????????????????????????? */
    }
}