* {
  margin: 0;
}

body {
  background-color: burlywood;
  width: 100%;
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#caja-fondo {
  border: 1px solid black;
  background-image: url("/practico10/imagenes/fonde-pantalla.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 90%;
  height: 40vw;
  margin-top: 3vw;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#caja-fondo #tabla-ejercicios {
  border: 1px solid black;
  background-color: #9a30fd;
  border-radius: 1vw;
  width: 60%;
  height: 80%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* justify-items: flex-start; */
  overflow: auto;
}

#caja-fondo #tabla-ejercicios #titulo-practicas {
  border: 1px solid black;
  background-color: #490885;
  color: white;
  border-radius: 1vw;
  width: 50%;
  height: 4vw;
  font-size: x-large;
  margin-top: -2vw;
  position: fixed;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#caja-fondo #tabla-ejercicios #practicas-realizadas {
  width: 90%;
  height: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 3vw;
  margin-bottom: 1vw;
  -webkit-column-gap: 2vw;
          column-gap: 2vw;
  row-gap: 1vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#caja-fondo #tabla-ejercicios #practicas-realizadas span {
  border: 1px solid black;
  border-radius: 0.5vw;
  width: 10vw;
  height: 5vw;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 0.5vw;
  -webkit-box-shadow: 0px 0px 15px #490885;
          box-shadow: 0px 0px 15px #490885;
}

#caja-fondo #tabla-ejercicios #practicas-realizadas span p {
  text-align: center;
}

#caja-fondo #tabla-ejercicios #practicas-realizadas span a {
  text-decoration: none;
  color: black;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.5vw;
}

#caja-fondo #tabla-ejercicios #practicas-realizadas span a:hover {
  color: black;
}

#caja-fondo #tabla-ejercicios #practicas-realizadas span:hover {
  -webkit-box-shadow: 0px 0px 15px #490885 inset;
          box-shadow: 0px 0px 15px #490885 inset;
}

#caja-fondo #tabla-ejercicios::-webkit-scrollbar {
  display: none;
  /* oculta el scroll */
}

#caja-fondo #info-cristian {
  /* border: 1px solid black; */
  width: 20%;
  height: 80%;
}

#caja-fondo #info-cristian > div {
  border: 1px solid black;
  background-color: #2e8331;
  width: 100%;
  height: 65%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#caja-fondo #info-cristian > div h1 {
  /* border: 1px solid black; */
  width: 100%;
  text-align: center;
}

#caja-fondo #info-cristian > div h1 p {
  color: white;
}

#caja-fondo #info-cristian > div #foto-perfil {
  /* border: 1px solid black; */
  width: 100%;
  height: 50%;
}

#caja-fondo #info-cristian > div #foto-perfil img {
  width: 100%;
  height: 100%;
}

#caja-fondo #info-cristian > div #boton-enlace {
  /* border: 1px solid black; */
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#caja-fondo #info-cristian > div #boton-enlace a {
  text-decoration: none;
  color: white;
}

#caja-fondo #info-cristian > div #boton-enlace:hover {
  -webkit-box-shadow: 0px 0px 25px #213f22 inset;
          box-shadow: 0px 0px 25px #213f22 inset;
}

@media (max-width: 380px) {
  * {
    margin: 0;
  }
  body {
    background-color: burlywood;
    width: 100%;
    height: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #caja-fondo {
    border: 1px solid black;
    background-image: url("/practico10/imagenes/fonde-pantalla.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 95%;
    height: auto;
    margin-top: 3vw;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* justify-content: space-around; */
    /* align-items: center; */
  }
  #caja-fondo #tabla-ejercicios {
    border: 1px solid black;
    background-color: #9a30fd;
    border-radius: 1vw;
    width: 90%;
    height: 58%;
    margin-top: 5vw;
    margin-bottom: 10vw;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* justify-items: flex-start; */
  }
  #caja-fondo #tabla-ejercicios #titulo-practicas {
    border: 1px solid black;
    background-color: #490885;
    color: white;
    border-radius: 1vw;
    width: 80%;
    height: 20vw;
    font-size: 4vw;
    margin-top: -170vw;
    position: fixed;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #caja-fondo #tabla-ejercicios #practicas-realizadas {
    width: 92%;
    height: auto;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 2vw;
            column-gap: 2vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 24vw;
    margin-bottom: 2vw;
  }
  #caja-fondo #tabla-ejercicios #practicas-realizadas span {
    border: 1px solid black;
    border-radius: 0.5vw;
    width: 36vw;
    height: 15vw;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* row-gap: 0.5vw; */
    -webkit-box-shadow: 0px 0px 15px #490885;
            box-shadow: 0px 0px 15px #490885;
  }
  #caja-fondo #tabla-ejercicios #practicas-realizadas span p {
    text-align: center;
  }
  #caja-fondo #tabla-ejercicios #practicas-realizadas span a {
    text-decoration: none;
    color: black;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.5vw;
  }
  #caja-fondo #tabla-ejercicios #practicas-realizadas span a:hover {
    color: black;
  }
  #caja-fondo #tabla-ejercicios #practicas-realizadas span:hover {
    -webkit-box-shadow: 0px 0px 15px #490885 inset;
            box-shadow: 0px 0px 15px #490885 inset;
  }
  #caja-fondo #info-cristian {
    /* border: 1px solid black; */
    width: 92%;
    height: 36%;
  }
  #caja-fondo #info-cristian > div {
    border: 1px solid black;
    background-color: #2e8331;
    width: 100%;
    height: 90%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  #caja-fondo #info-cristian > div h1 {
    /* border: 1px solid black; */
    width: 100%;
    text-align: center;
  }
  #caja-fondo #info-cristian > div h1 p {
    color: white;
  }
  #caja-fondo #info-cristian > div #foto-perfil {
    /* border: 1px solid black; */
    width: 100%;
    height: 50%;
  }
  #caja-fondo #info-cristian > div #foto-perfil img {
    width: 100%;
    height: 100%;
  }
  #caja-fondo #info-cristian > div #boton-enlace {
    /* border: 1px solid black; */
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #caja-fondo #info-cristian > div #boton-enlace a {
    text-decoration: none;
    color: white;
  }
  #caja-fondo #info-cristian > div #boton-enlace:hover {
    -webkit-box-shadow: 0px 0px 25px #213f22 inset;
            box-shadow: 0px 0px 25px #213f22 inset;
  }
}
/*# sourceMappingURL=estiloscss3.css.map */