*{
    margin: 0;
}
body{
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
}
#volver-atrás{
    position: fixed;
    top: 0;
    left: 0;
    font-weight: bold;
    background-color: rgb(55, 34, 70);
    color: white;
    height: 2vw;
}
#caja-fondo{
    border: 1px solid black;
    border-radius: 3vw;
    
    width: 70%;
    height: 650px;
    margin-top: 3vw;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    

    #caja1{
        border: 1px solid black;
        border-radius: 20px;
        width: 35%;
        height: 40%;
        background: radial-gradient(yellow, blue 35%, purple 70%); /* puedo ubicar los colores con el porcentanje 
                                                                            o que se ubique automatico */
    }    
    #caja2{
        border: 1px solid black;
        border-radius: 20px;
        width: 35%;
        height: 40%;
        background: radial-gradient(circle at bottom left, green, yellow, rgb(0, 217, 255), red);
    }
    #caja3{
        border: 1px solid black;
        border-radius: 20px;
        width: 35%;
        height: 40%;
        background: radial-gradient(rgb(0, 255, 55), rgb(34, 156, 226), rgb(119, 12, 206) 10%);;
    }
    #caja4{
        border: 1px solid black;
        border-radius: 20px;
        width: 35%;
        height: 40%;
        background: radial-gradient(ellipse at left center, rgb(158, 214, 26), rgb(231, 121, 47) 25%, rgb(214, 49, 178)45%, rgb(56, 194, 204) 85%);
    }
}