@charset "UTF-8";
* {
  margin: 0;
  vertical-align: top;
}

#volver-atrás {
  position: fixed;
  top: 0;
  left: 0;
  font-weight: bold;
  background-color: #372246;
  color: white;
  height: 2vw;
}

#caja-fondo {
  border: 1px solid black;
  width: 60%;
  height: auto;
  margin-top: 4%;
  margin-left: 10%;
  margin-bottom: 5vh;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

#caja-fondo #titulo {
  border: 1px solid black;
  border-radius: 2vh;
  width: 80%;
  height: 8vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#caja-fondo #titulo h1 {
  color: red;
  font-size: 6vh;
}

#caja-fondo #cajas {
  /* border: 1px solid black; */
  border-radius: 2vh;
  width: 80%;
  height: 350px;
  margin-bottom: 2vh;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#caja-fondo #cajas #caja1 {
  border: 1px dashed red;
  width: 100%;
  height: 350px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  row-gap: 2vh;
}

#caja-fondo #cajas #caja1 #caja-amarilla {
  border: 1px solid black;
  border-radius: 2vh;
  width: 40%;
  height: 20%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#caja-fondo #cajas #caja1 #caja-roja {
  border: 1px solid black;
  border-radius: 2vh;
  width: 40%;
  height: 20%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#caja-fondo #cajas #caja1 #caja-verde {
  border: 1px solid black;
  border-radius: 2vh;
  width: 40%;
  height: 20%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#caja-fondo #cajas #caja1 #caja-alineacion {
  border: 1px solid black;
  border-radius: 2vh;
  width: 50%;
  height: 20%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3vh;
  margin-left: -5%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
/*# sourceMappingURL=estilos.css.map */