@charset "UTF-8";
* {
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #volver-atrás {
  position: fixed;
  top: 0;
  left: 0;
  font-weight: bold;
  background-color: #372246;
  color: white;
  height: 2vw;
}

body #caja-fondo {
  border: 1px solid black;
  border-radius: 25px;
  background-image: url("/practico11/imagenes/cancha-futbol.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 90%;
  height: 650px;
  margin-top: 2vw;
}

body #caja-fondo #caja1 {
  /* border: 1px solid black; */
  background-image: url("/practico11/imagenes/pelota.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 50%;
  width: 4vw;
  height: 4vw;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation-name: cuadrado-a-circulo;
          animation-name: cuadrado-a-circulo;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  /* animation-direction: alternate; */
}

body #caja-fondo #caja1 img {
  opacity: 0.5;
}

body #caja-fondo .fijo {
  position: fixed;
  top: 20vw;
  width: 4%;
  height: 10%;
}

body #caja-fondo .img1 {
  left: 25vw;
}

body #caja-fondo .img2 {
  left: 42vw;
}

body #caja-fondo .img3 {
  left: 58vw;
}

body #caja-fondo .img4 {
  left: 75vw;
}

@-webkit-keyframes cuadrado-a-circulo {
  0% {
    margin-left: 1.5vw;
    margin-top: 25vw;
  }
  20% {
    margin-left: 18vw;
    margin-top: 5vw;
  }
  22% {
    margin-left: 22vw;
    margin-top: 5vw;
    -webkit-box-shadow: 10px 10px 20px rgba(124, 13, 216, 0.6) inset, -10px -10px 20px rgba(124, 13, 216, 0.6) inset;
            box-shadow: 10px 10px 20px rgba(124, 13, 216, 0.6) inset, -10px -10px 20px rgba(124, 13, 216, 0.6) inset;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  35% {
    margin-left: 32vw;
    margin-top: 35vw;
  }
  40% {
    margin-left: 35vw;
    margin-top: 35vw;
    -webkit-box-shadow: 10px 10px 20px rgba(245, 124, 26, 0.6) inset, -10px -10px 20px rgba(245, 124, 26, 0.6) inset;
            box-shadow: 10px 10px 20px rgba(245, 124, 26, 0.6) inset, -10px -10px 20px rgba(245, 124, 26, 0.6) inset;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  60% {
    margin-left: 50vw;
    margin-top: 9vw;
  }
  65% {
    margin-left: 52vw;
    margin-top: 10vw;
    -webkit-box-shadow: 10px 10px 20px rgba(16, 107, 243, 0.6) inset, -10px -10px 20px rgba(16, 107, 243, 0.6) inset;
            box-shadow: 10px 10px 20px rgba(16, 107, 243, 0.6) inset, -10px -10px 20px rgba(16, 107, 243, 0.6) inset;
    -webkit-transform: rotate(550deg);
            transform: rotate(550deg);
  }
  75% {
    margin-left: 65vw;
    margin-top: 30vw;
  }
  80% {
    margin-left: 68vw;
    margin-top: 28vw;
    -webkit-box-shadow: 10px 10px 20px rgba(245, 4, 4, 0.6) inset, -10px -10px 20px rgba(245, 4, 4, 0.6) inset;
            box-shadow: 10px 10px 20px rgba(245, 4, 4, 0.6) inset, -10px -10px 20px rgba(245, 4, 4, 0.6) inset;
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
  95% {
    margin-left: 86vw;
    margin-top: 15vw;
  }
  100% {
    margin-left: 87vw;
    margin-top: 15.5vw;
    -webkit-transform: rotate(1000deg);
            transform: rotate(1000deg);
  }
}

@keyframes cuadrado-a-circulo {
  0% {
    margin-left: 1.5vw;
    margin-top: 25vw;
  }
  20% {
    margin-left: 18vw;
    margin-top: 5vw;
  }
  22% {
    margin-left: 22vw;
    margin-top: 5vw;
    -webkit-box-shadow: 10px 10px 20px rgba(124, 13, 216, 0.6) inset, -10px -10px 20px rgba(124, 13, 216, 0.6) inset;
            box-shadow: 10px 10px 20px rgba(124, 13, 216, 0.6) inset, -10px -10px 20px rgba(124, 13, 216, 0.6) inset;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  35% {
    margin-left: 32vw;
    margin-top: 35vw;
  }
  40% {
    margin-left: 35vw;
    margin-top: 35vw;
    -webkit-box-shadow: 10px 10px 20px rgba(245, 124, 26, 0.6) inset, -10px -10px 20px rgba(245, 124, 26, 0.6) inset;
            box-shadow: 10px 10px 20px rgba(245, 124, 26, 0.6) inset, -10px -10px 20px rgba(245, 124, 26, 0.6) inset;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  60% {
    margin-left: 50vw;
    margin-top: 9vw;
  }
  65% {
    margin-left: 52vw;
    margin-top: 10vw;
    -webkit-box-shadow: 10px 10px 20px rgba(16, 107, 243, 0.6) inset, -10px -10px 20px rgba(16, 107, 243, 0.6) inset;
            box-shadow: 10px 10px 20px rgba(16, 107, 243, 0.6) inset, -10px -10px 20px rgba(16, 107, 243, 0.6) inset;
    -webkit-transform: rotate(550deg);
            transform: rotate(550deg);
  }
  75% {
    margin-left: 65vw;
    margin-top: 30vw;
  }
  80% {
    margin-left: 68vw;
    margin-top: 28vw;
    -webkit-box-shadow: 10px 10px 20px rgba(245, 4, 4, 0.6) inset, -10px -10px 20px rgba(245, 4, 4, 0.6) inset;
            box-shadow: 10px 10px 20px rgba(245, 4, 4, 0.6) inset, -10px -10px 20px rgba(245, 4, 4, 0.6) inset;
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
  95% {
    margin-left: 86vw;
    margin-top: 15vw;
  }
  100% {
    margin-left: 87vw;
    margin-top: 15.5vw;
    -webkit-transform: rotate(1000deg);
            transform: rotate(1000deg);
  }
}
/*# sourceMappingURL=practica28.css.map */