*{
    margin: 0;
}
body{
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
}
#volver-atrás{
    position: fixed;
    top: 0;
    left: 0;
    font-weight: bold;
    background-color: rgb(55, 34, 70);
    color: white;
    height: 2vw;
}
#fondo{
    border: 1px solid black;
    border-radius: 25px;
    background: linear-gradient(to right, rgb(175, 41, 238), rgb(93, 194, 235));
    width: 70%;
    height: 500px;
    margin-top: 5vw;
    display: inline-flex;
    justify-content: center;
}
#caja-fondo{
    border: 1px solid black;
    border-radius: 25px;
    background-image: url('/practico11/imagenes/malaga.png'),
                      url('/practico11/imagenes/madrid.png'),
                      url('/practico11/imagenes/valencia.png'),
                      url('/practico11/imagenes/cadaques.png'),
                      url('/practico11/imagenes/rupit.png') ;
    background-repeat: no-repeat;
    background-size: 30% 35%;
    background-position: left top, right top, center, left bottom, right bottom;
    width: 100%;
    height: 500px;
    
}
#caja-fondo:hover{
    background-size: 20% 25%, 20% 25%, 40% 55%, 20% 25%, 20% 25%;
    
}    